<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.sangu.mapper.R2Mapper">
  <resultMap id="BaseResultMap" type="com.zh.sangu.model.R2">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="DNN" jdbcType="VARCHAR" property="dnn" />
    <result column="SVR" jdbcType="VARCHAR" property="svr" />
    <result column="LR" jdbcType="VARCHAR" property="lr" />
    <result column="RR" jdbcType="VARCHAR" property="rr" />
    <result column="BRR" jdbcType="VARCHAR" property="brr" />
    <result column="DTR" jdbcType="VARCHAR" property="dtr" />
    <result column="MONTH" jdbcType="VARCHAR" property="month" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, DNN, SVR, LR, RR, BRR, DTR, MONTH
  </sql>
  <select id="selectByExample" parameterType="com.zh.sangu.model.R2Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from r2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from r2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from r2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zh.sangu.model.R2Example">
    delete from r2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zh.sangu.model.R2">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r2 (DNN, SVR, LR, 
      RR, BRR, DTR, MONTH
      )
    values (#{dnn,jdbcType=VARCHAR}, #{svr,jdbcType=VARCHAR}, #{lr,jdbcType=VARCHAR}, 
      #{rr,jdbcType=VARCHAR}, #{brr,jdbcType=VARCHAR}, #{dtr,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zh.sangu.model.R2">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dnn != null">
        DNN,
      </if>
      <if test="svr != null">
        SVR,
      </if>
      <if test="lr != null">
        LR,
      </if>
      <if test="rr != null">
        RR,
      </if>
      <if test="brr != null">
        BRR,
      </if>
      <if test="dtr != null">
        DTR,
      </if>
      <if test="month != null">
        MONTH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dnn != null">
        #{dnn,jdbcType=VARCHAR},
      </if>
      <if test="svr != null">
        #{svr,jdbcType=VARCHAR},
      </if>
      <if test="lr != null">
        #{lr,jdbcType=VARCHAR},
      </if>
      <if test="rr != null">
        #{rr,jdbcType=VARCHAR},
      </if>
      <if test="brr != null">
        #{brr,jdbcType=VARCHAR},
      </if>
      <if test="dtr != null">
        #{dtr,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zh.sangu.model.R2Example" resultType="java.lang.Long">
    select count(*) from r2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update r2
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dnn != null">
        DNN = #{record.dnn,jdbcType=VARCHAR},
      </if>
      <if test="record.svr != null">
        SVR = #{record.svr,jdbcType=VARCHAR},
      </if>
      <if test="record.lr != null">
        LR = #{record.lr,jdbcType=VARCHAR},
      </if>
      <if test="record.rr != null">
        RR = #{record.rr,jdbcType=VARCHAR},
      </if>
      <if test="record.brr != null">
        BRR = #{record.brr,jdbcType=VARCHAR},
      </if>
      <if test="record.dtr != null">
        DTR = #{record.dtr,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null">
        MONTH = #{record.month,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update r2
    set id = #{record.id,jdbcType=INTEGER},
      DNN = #{record.dnn,jdbcType=VARCHAR},
      SVR = #{record.svr,jdbcType=VARCHAR},
      LR = #{record.lr,jdbcType=VARCHAR},
      RR = #{record.rr,jdbcType=VARCHAR},
      BRR = #{record.brr,jdbcType=VARCHAR},
      DTR = #{record.dtr,jdbcType=VARCHAR},
      MONTH = #{record.month,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.sangu.model.R2">
    update r2
    <set>
      <if test="dnn != null">
        DNN = #{dnn,jdbcType=VARCHAR},
      </if>
      <if test="svr != null">
        SVR = #{svr,jdbcType=VARCHAR},
      </if>
      <if test="lr != null">
        LR = #{lr,jdbcType=VARCHAR},
      </if>
      <if test="rr != null">
        RR = #{rr,jdbcType=VARCHAR},
      </if>
      <if test="brr != null">
        BRR = #{brr,jdbcType=VARCHAR},
      </if>
      <if test="dtr != null">
        DTR = #{dtr,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        MONTH = #{month,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.sangu.model.R2">
    update r2
    set DNN = #{dnn,jdbcType=VARCHAR},
      SVR = #{svr,jdbcType=VARCHAR},
      LR = #{lr,jdbcType=VARCHAR},
      RR = #{rr,jdbcType=VARCHAR},
      BRR = #{brr,jdbcType=VARCHAR},
      DTR = #{dtr,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>